<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite">
	<listeners>
		<listener class-name="com.screenshot.ITestListenerscreenshot"></listener>
	</listeners>
	<test name="Test">
		<classes>
			<class name="com.screenshot.ScreenshotTest" />
			<methods>
			<include name="Facebook" />
			</methods>
		</classes>
	</test> <!-- Test -->




	<test name="Test1">
		<classes>
			<class name="com.screenshot.ScreenshotTest" />
			<methods>
			<include name="LaunchApp" />
         </methods>
		</classes>
	</test> <!-- Test -->

	<test name="Test2">
		<classes>
			<class name="com.screenshot.ScreenshotTest" />
			<methods>
			<include name="Facebookweb" />
			 </methods>
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
